*
{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
  background-color: #ece5e5;
}
#welcome
{
  font-size: 30px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

#atemptcenter
{
  text-align: center;
}
.showtitle{
  font-size:2em;
  color:#19191b;
}
p{
  text-align: center;
}
h1{
  font-family: Arial, Helvetica, sans-serifS;
  text-align: center;
  font-size: 50px;
}
h2
{
  text-align: center;
}
.rating
{
  text-align: center;
}
.summary
{
  margin: auto;
  padding: 15px;
}

button
{
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  color: #2e312f;
}

#search
{
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.9); 
  display:none;
}



#message {
  height: 55%;

    width: 80%;
    padding:20px;
    background-color:#d9d8da;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.lightWords
{
  width: 100%;
}
#name
{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
#id
{
  margin-top: 15px;
  text-align: center;
}
#season
{
  margin-top: 20px;
  text-align: center;
}
#sum
{
  margin: 0px;
}
#image
{
  border-radius: 10px;
  height: 60%;
} 

ol{
  margin-left: 30%;
}
.genre
{
  margin: 20px;
  margin-left: 40%;
}

@media (min-width: 1200px)
{
  #message {
    height: 750px
  }
  ol{
    margin-left: 40%;
  }
  .genre
  {
    margin-left: 40%;
  }
}

@media (max-width: 700px)
{
  ol{
    margin-left: 20%;
    margin: 10px;
  }
  .genre{
    margin-left: 20%;
    margin: 10px;
  }
  #image
{
  border-radius: 10px;
  height: 25%;
} 
}

@media (max-width: 1200px)
{
  #image
{
  border-radius: 10px;
  height: 40%;
} 
}